@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map-container {
  height: calc(100% - 44px);
}

#map-canvas {
  height: 100%;
}

.info_window {
  display:inline-block;
  vertical-align:top;
  margin-right: 10px;
}

body {
  font:10pt 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#444;
}

.nav {
  padding: 10px;
}

.title {
  font-weight: bold;
}

.madeby {
  float: right;
}

.ryanseys {
  font-weight: bold;
}
