!!!
html
  head
    title Simple Map
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    style
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script
      var map;
      function initialize() {
        var mapOptions = {
          zoom: 2,
          center: new google.maps.LatLng(45.012143, 16.347125),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  body
    div(id="map-canvas")
