!!!
html
  head
    title= title
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel='stylesheet', href="/css/style.css", type="text/css")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  body
    div(id="map-canvas", draggable="true")
    div(id="log") Drag GPS-embedded images onto the map to upload
    script(src="/js/photogps.js")

